/* COMMON */
body{
    color: white;
    scroll-behavior: smooth;
    background-color: black;
}

h2{
    color: black;
}

.container{
    margin: 20px 0;
}

.container:last-child{
    margin-bottom: 0;
}

main{
    height: 70vh;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: black;
    font-size: 10vw;
}

/* Comparsa iniziale body effetto overlay*/
.body-overlay{
    opacity: 1;
    animation: 0.3s linear 1 body-appears;
    z-index: 0;
    opacity: 0;
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
}

/* HOVER (bold al font del menù all'hover)*/
.change-color:hover ~ .fake-container,
.radio-mark:hover ~ .fake-container,
.fa-hand-pointer:hover ~ .fake-container,
.fake-container:hover,
.minimize:hover ~ .close-menu,
.switch:hover ~ .page{
    font-weight: bold;
}

/* BUTTONS */

/* Caratteristiche comuni per gli elementi fixed sulla destra */
.fixed{
    position: fixed;
    z-index: 10;
    padding: 1vh 1vw;
    border: 2px solid white;
    color: white;
    text-transform: uppercase;
    max-width: 10vw;
    width: 10vw;
    height: 12vh;
    font-size: 0.8vw;
    text-align: center;
    background-image: url(../img/Blue\ wood.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0.95;
}

.fake-container{
    top: 12.1vh;
    right: 0;
    text-align: center;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 2vh;
    min-height: 12vh;
}

.fake-container span{
    max-width: 60%;
    line-height: 3vh;
}

.fixed span{
    opacity: 1;
}

.hidden-mark{
    position: fixed; 
    cursor: pointer;
    z-index: 13;
    opacity: 0;
}

.first-group{
    display: inline-block;
}

.second-group{
    display: none;
}

/* SEZIONE PER L'APRI/CHIUDI MENU' (usati radio buttons invisibili per renderlo possibile al click e non all'active) */

/*I buttons invisibili sono grandi esattamente come i div,
hanno z-index più alto e opacity 0 per renderli clickabili e non visibili */

.minimize{
    width: 1.1vw;
    min-width: 1.1vw;
    height: 12vh;
    min-height: 12vh;
    top: 12.1vh;
    right: 10.05vw;
}

.open-it{
    right: 0;
    display: none;
}

.opened,
.closed{
    top: 12.1vh;
    right: 10.05vw;
    width: 1vw;
    padding: 0.5vw;
    min-height: 12vh;
}

.closed{
    right: 0; 
    display: none;
}

.open,
.close{
    writing-mode: vertical-lr; /* per scrivere in colonna */
    text-orientation: upright;  /* per scrivere con le lettere non ruotate */
    font-size: 1vh; /* perché è scritto verticalmente */
}




/* SEZIONE CAMBIO PAGINA DEGLI SFONDI */

.switch{
    width: 4.1vw;
    min-width: 4.1vw;
    height: 3vh;
    min-height: 3vh;
    top: 21.1vh;
    right: 6vw;
}

.second-button{
    display: none;
}

.page-1,
.page-2{
    top: 21.1vh;
    right: 6vw;
    width: 4vw;
    height: 3vh;
    padding: 0.5vw;
    z-index: 12;
    white-space: nowrap;
    background: none;
} 

.page-2{
    display: none;
} 

.go-page-1, 
.go-page-1 .vanish{
    font-size: 0.35vw;
}
.go-page-2, .vanish{ 
    font-size: 0.4vw; /* perché è scritto orizzontalmente */
    margin: 0 1.5px;
} 

/* Chiusura menù - parte 1*/
.close-it:checked ~ .fixed,
.close-it:checked{
    display: none; 
} 
/* il "display none" del radio button stesso si annullerà alla fine del suo checked una volta che clicco l'altro radio,
dato che i 2 radio hanno lo stesso nome, agiscono come gruppo e un radio annulla l'altro.
in questo modo posso farlo tornare nel display anche se nell'index non segue "Apri" 
e non posso selezionarlo con ~ o + per ridargli il display col secondo pulsante */
.close-it:checked ~ .closed,
.close-it:checked + .hidden-mark{
    display: flex;
}

.close-it:checked ~ i{
    opacity: 0;
}/* Se davo un "display none" rifaceva l'animazione del click ogni volta che cliccavo "Apri" e tornava in display 
visto che c'è sempre un checked del colore attivo */

/* Apertura menù */
/* i div .page torneranno automaticamente display flex (dato dalla classe .fixed) appena finisce il checked a "Chiudi"
non seleziono i .page perché se faccio chiudi/apri come prima azione compariranno sovrapposti in quanto page-1 non ha ancora dato "display none" a page-2 
cosi il browser leggerà in automatico il comportamento del gruppo switch senza interferenze da parte di open/close,
non seleziono .closed (cioè il div con la scritta "Apri") perché anche lui è .fixed e il suo stesso radio gli darebbe il display invece che nasconderlo */
.open-it:checked ~ .fixed:not(.page, .closed),
.open-it:checked ~ i
.open-it:checked ~ .switch{
    display: flex; 
}
/* ora che "Chiudi" non è più checked tornerà visibile poiché si annulla il "display none" */
.open-it:checked ~ .closed{
    display: none;
}
/* "Apri" tornerà in display none in automatico poiché si annulla il checked di "Chiudi" che lo rendeva display flex */


/* Spostamento a pagina 2 */
.first-button:checked ~ .first-group,
.first-button:checked ~ .page-1,
.first-button:checked{
    display: none; 
} 
.first-button:checked ~ .second-group,
.first-button:checked ~ .page-2,
.first-button:checked + .hidden-mark{
    display: flex;
}

/* Ritorno a pagina 1 */
.second-button:checked ~ .first-group,
.second-button:checked ~ .page-1,
.second-button:checked ~ .second-button{
    display: flex; 
}
.second-button:checked ~ .page-2,
.second-button:checked ~ .second-group{
    display: none;
}

/* Chiusura menù - parte 2*/
/* Questo selettore della sezione open/close DEVE restare ultimo dopo tutti i checked del switch page.
sarà sempre l'ultimo ad essere letto per le interazioni con gli elementi in comune tra i gruppi open/close e switch
e sovrascriverà tutti i display flex del gruppo switch per far si che tutto possa diventare "display none" quando clicco "Chiudi" */
.close-it:checked ~ .change-color,
.close-it:checked ~ .radio-mark,
.close-it:checked ~ .switch,
.close-it:checked ~ .page{
    display: none;
}

/* SEZIONE RADIOS PER CAMBIO SFONDO E ANIMAZIONI FA-HAND-POINTER */

/* Comune per input radios e span vuoti */
.change-color{
    opacity: 0;
    position: fixed;
    z-index: 13;
    cursor: pointer;
}

.radio-mark{
    border-radius: 50%;                                                                      
    position: fixed;
}

.change-color,
.radio-mark{
    height: 15px;
    width: 15px; 
}

.left,
span.left{
    right: 3vw;
}

.middle,
span.middle{
    right: 2vw;
}

.right,
span.right{
    right: 1vw;
}

/* Cambi di colore al main, radios e fa-hand-pointer con animazione rainbow inclusa */

/* Primo gruppo radios */
input.white:checked + #white{
    border: 5px solid white;
    background-color: black; /* per creare un effetto visivo checked allo span vuoto*/
}
input.white:checked ~ main{
    background-color: white;
}
input.white:checked ~ .fa-hand-pointer{
    animation: 0.07s linear 1 up-left-virtual-click;
    transform: rotate(320deg);
    color: white;
}
#white{
    z-index: 12;
    background-color: white;
}
#white,
input.white{
    top: 16.2vh;
}

input.rainbow:checked + #rainbow{
    border: 5px solid;
    background-color: black;
    animation: 3.5s linear infinite rainbow-border;
}
input.rainbow:checked ~ main{
    animation: 7s linear infinite make-it-rainbow;
}
input.rainbow:checked ~ .fa-hand-pointer{
    animation: 0.07s linear 1 down-left-virtual-click, 3.5s linear infinite rainbow-color;
    transform: rotate(230deg);
} 
#rainbow{
    z-index: 12;
    animation: 3.5s linear infinite make-it-rainbow;
}
#rainbow,
input.rainbow{
    top: 19.2vh;
}

input.red:checked + #red{
    border: 5px solid red;
    background-color: black; 
}
input.red:checked ~ main{
    background-color: red;
}
input.red:checked ~ .fa-hand-pointer{
    animation: 0.07s linear 1 up-virtual-click;
    transform: rotate(10deg);
    color: red;
}
#red{
    z-index: 12;
    background-color: red;
} 
#red,
input.red{
    top: 14.7vh;
}

input.aqua:checked + #aqua{
    border: 5px solid aqua;
    background-color: black; 
}
input.aqua:checked ~ main{
    background-color: aqua;
}
input.aqua:checked ~ .fa-hand-pointer{
    animation: 0.07s linear 1 up-right-virtual-click;
    transform: rotate(60deg);
    color: aqua;
}
#aqua{
    background-color: aqua;
    z-index: 12;
}
#aqua,
input.aqua{
    top: 16.2vh;
}

input.lime:checked + #lime{
    border: 5px solid lime;
    background-color: black; 
}
input.lime:checked ~ main{
    background-color: lime;
}
input.lime:checked ~ .fa-hand-pointer{
    animation: 0.07s linear 1 down-virtual-click;
    transform: rotate(185deg);
    color: lime;
}
#lime{
    background-color: lime;
    z-index: 12;
}
#lime,
input.lime{
    top: 20.7vh;
}

input.violet:checked + #violet{
    border: 5px solid violet;
    background-color: black; 
}
input.violet:checked ~ main{
    background-color: violet;
}
input.violet:checked ~ .fa-hand-pointer{
    animation: 0.07s linear 1 down-right-virtual-click;
    transform: rotate(145deg);
    color: violet;
}
#violet{
    background-color: violet;
    z-index: 12;
}
#violet,
input.violet{
    top: 19.2vh;
}

/* Secondo gruppo radios */
input.golden:checked + #golden{
    border: 5px solid #ffd700;
    background-color: black;
}
input.golden:checked ~ main{
    background-color: #ffd700;
}
input.golden:checked ~ .fa-hand-pointer{
    animation: 0.07s linear 1 down-left-virtual-click-2;
    transform: rotate(230deg);
    color: #ffd700;
}
#golden{
    background-color: #ffd700;
    z-index: 12;
}
#golden,
input.golden{
    top: 19.2vh;
}

input.silver:checked + #silver{
    border: 5px solid #d2d9db;
    background-color: black;
}
input.silver:checked ~ main{
    background-color: #d2d9db;
}
input.silver:checked ~ .fa-hand-pointer{
    animation: 0.07s linear 1 up-left-virtual-click-2;
    transform: rotate(320deg);
    color: #d2d9db;
}
#silver{
    background-color: #d2d9db;
    z-index: 12;
}
#silver,
input.silver{
    top: 16.2vh;
}

input.bronze:checked + #bronze{
    border: 5px solid #CD7F32;
    background-color: black;
}
input.bronze:checked ~ main{
    background-color: #CD7F32;
}
input.bronze:checked ~ .fa-hand-pointer{
    animation: 0.07s linear 1 up-virtual-click-2;
    transform: rotate(10deg);
    color: #CD7F32;
}
#bronze{
    background-color: #CD7F32;
    z-index: 12;
}
#bronze,
input.bronze{
    top: 14.7vh;
}

input.lilla:checked + #lilla{
    border: 5px solid #C9BEFE;
    background-color: black;
}
input.lilla:checked ~ main{
    background-color: #C9BEFE;
}
input.lilla:checked ~ .fa-hand-pointer{
    animation: 0.07s linear 1 down-virtual-click-2;
    transform: rotate(185deg);
    color: #C9BEFE;
}
#lilla{
    background-color: #C9BEFE;
    z-index: 12;
}
#lilla,
input.lilla{
    top: 20.7vh;
}

input.emerald:checked + #emerald{
    border: 5px solid #50C8B4;
    background-color: black;
}
input.emerald:checked ~ main{
    background-color: #50C8B4;
}
input.emerald:checked ~ .fa-hand-pointer{
    animation: 0.07s linear 1 up-right-virtual-click-2;
    transform: rotate(60deg);
    color: #50C8B4;
}
#emerald{
    background-color: #50C8B4;
    z-index: 12;
   
}
#emerald,
input.emerald{
   top: 16.2vh;
}

input.lapis:checked + #lapis{
    border: 5px solid #638ac7;
    background-color: black;
}
input.lapis:checked ~ main{
    background-color: #638ac7;
}
input.lapis:checked ~ .fa-hand-pointer{
    animation: 0.07s linear 1 down-right-virtual-click-2;
    transform: rotate(145deg);
    color: #638ac7;
}
#lapis{
    background-color: #638ac7;
    z-index: 12;
}
#lapis,
input.lapis{
    top: 19.2vh;
}

/* Fa-hand-pointer */
i{
    position: fixed;
    z-index: 10;
    font-size: 1.2vw;
    top: 17.1vh;
    right: 1.73vw;
    transform: rotate(320deg);
    z-index: 13;   
}


/* RESPONSIVE PER IL MENU' (width e height)*/
/* Tutte le query sono scritte in modo che solo chi deve sovrascrivere lo faccia */
@media screen and (max-width: 2000px){
    
    i{
        top: 17.5vh;
        right: 1.9vw;   
    }
    
}

@media screen and (max-width: 1700px){
    
    i{
       font-size: 1.35vw;   
    }
    
}

@media screen and (max-width: 1400px){
    .fake-container span{
        font-size: 12px;
    }

    .fake-container{
        padding-left: 0;
    }

    i{
        font-size: 1.5vw;   
     }
}

@media screen and (max-width: 1200px){
    .fake-container span{
        writing-mode: vertical-lr; 
        text-orientation: upright;
        line-height: 1.5vw;
        font-size: 0.7vh;
        white-space: wrap;
    }

    .fake-container{
        padding-top: 0;
        padding-left: 5px;
    }

    i{
        top: 17.7vh; 
        right: 2vw;  
     }

     .vanish{
         display: none;
     }

     .go-page-1,
     .go-page-2{
         font-size: 0.6vw;
     }
}

@media screen and (max-width: 992px){
    .fake-container span,
    .fa-hand-pointer{
        display: none;
    }
    
    .fixed{
        width: 6vw;
        max-width: 6vw;
    }

    .page, 
    .switch{
        width: 4.04vw;
        right: 6.01vw;
        min-height: 12vh;
        top: 12.1vh;
    }

    .page{
        background-image: url(../img/Blue\ wood.png);
    }

    .go-page-1,
    .go-page-2{
        font-size: 0.8vh;
    }

    .vanish{
        display: none;
    }

    .close-menu,
    .minimize{
        width: 4.04vw;
    }

    .page span{
        writing-mode: vertical-lr; 
        text-orientation: upright;
    }

    .left,
    .right,
    span.left,
    span.right{
        right: 2vw;
    }

    #red,
    #bronze,
    input.red,
    input.bronze{
        top: 14vh;
    }

    #aqua,
    #emerald,
    input.aqua,
    input.emerald{
        top: 15.5vh;
    }

    #lime,
    #lilla,
    input.lime,
    input.lilla{
        top: 21.4vh;
    }

    #violet,
    #lapis,
    input.violet,
    input.lapis{
        top: 19.9vh;
    }

    #rainbow,
    #golden,
    input.rainbow,
    input.golden{
        top: 18.45vh;
    }

    #white,
    #silver,
    input.white,
    input.silver{
        top: 16.95vh;
    }

}

@media screen and (max-width: 768px){
    .fixed{
        width: 5vw;
        max-width: 5vw;
    }

    .page, 
    .switch{
        right: 5.01vw;
    }

    .change-color,
    span.left,
    span.right,
    span.middle{
        right: 1.3vw;
    }

    .fa-hand-pointer{  
        display: none;
    }
}

@media screen and (max-width: 576px){
    .change-color,
    span.left,
    span.right,
    span.middle{
    right: 1.05vw;
    }
}


@media screen and (max-height:1000px){
    .vanish{
        display: none;
    }

    .go-page-1,
    .go-page-2{
        font-size: 1vh;
    }
 }

 @media screen and (max-height:800px){
    .page,
    .switch{
        top: 24.3vh;
        right: 0;
        width: 11.25vw;
        max-width: 11.25vw;
        background-image: url(../img/Blue\ wood.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
 }

@media screen and (max-height:600px){
   .fa-hand-pointer{
       display: none;
   }

   .switch{
       height: 3.2vh;
   }
}

@media screen and (max-height:500px){
    
    .page,
    .switch{
        top: 25.3vh;
    }

    .switch{
        height: 4vh;
    }

    .close-menu,
    .minimize,
    .fake-container{
        top: 13.1vh;
    }
 }

 @media screen and (max-height:450px){
    .switch{
        height: 6vh;
    }
 }

 @media screen and (max-height:350px){
    .fixed,
    .fa-hand-pointer,
    .change-color,
    .radio-mark{
        display: none;
    } 
 }

 @media screen and (max-width: 992px) and (max-height:1000px){
    .radio-mark,
    .change-color{
        width: 10px;
        height: 10px;
    }
    
    .left,
    .right,
    .middle,
    span.left,
    span.right,
    span.middle{
    right: 2.25vw;
    }
}



@media screen and (max-width: 992px) and (max-height:800px){
    .page, 
    .switch{
        width: 4.04vw;
        right: 6.01vw;
        min-height: 12vh;
        top: 12.1vh;
    }
    
}


@media screen and (max-width: 992px) and (max-height:600px){

    .close-menu,
    .minimize{
        width: 4.04vw;
    }

    .page,
    .switch{
        top: 12.1vh;
    }
}

@media screen and (max-width: 992px) and (max-height:500px){
    
    .page,
    .switch{
        top: 13.1vh;
    }
}

@media screen and (max-width: 768px) and (max-height:1000px){
    .left,
    .right,
    .middle,
    span.left,
    span.right,
    span.middle{
    right: 1.7vw;
    }
}

@media screen and (max-width: 767px) and (max-height:800px){
    .page,
    .switch{
        right: 5.1vw;
    }

    .close-menu:not(.closed),
    .minimize:not(.open-it){
        right: 9.25vw;
    }
}

@media screen and (max-width: 768px) and (max-height:600px){
    .page,
    .switch{
        right: 5vw;
    }

    .minimize:not(.open-it),
    .close-menu:not(.closed){
        right: 9.05vw;
    }
}
